<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Pages ANY>
<!ATTLIST Pages id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="2" createDate="2011-08-09T13:34:52" updateDate="2011-08-17T14:09:24" nodeName="Home" urlName="home" writerName="Mark Darling" creatorName="Mark Darling" path="-1,1050" isDoc="">
    <googleAnalyticsID />
    <pageTitleLayout>%TITLE% | Umbraco Boilerplate 2</pageTitleLayout>
    <pageTitle>Umbraco Boilerplate 2</pageTitle>
    <umbracoUrlName />
    <umbracoUrlAlias />
    <umbracoRedirect />
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoInternalRedirectId />
    <metaAuthor />
    <metaDescription />
  </Home>
</root>